.env
venv/
trec_env/
__pycache__/
*.pyc
*.pyo
*.pyd
.*
non_wave_files/
transcriptions/
uploads/
*.sh
*.json

transcriptions/
uploads/
non_wave_files/
*.zip

processed_files.zip
flask_session/
*.sh
*.json
condition.yaml