<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Audio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="flex-container">
      <div class="main-container">
        <h2>Upload and Transcribe Audio</h2>
        <form id="uploadForm">
          <div class="form-group">
            <label for="audioFiles">Select audio files:</label>
            <input
              type="file"
              class="form-control-file"
              id="audioFiles"
              name="files"
              multiple
            />
          </div>
          <button type="submit" class="btn btn-primary">Upload Audio</button>
        </form>
        <div class="alert alert-info mt-3" id="uploadStatus" role="alert"></div>
        <button
          id="transcribeBtn"
          class="btn btn-secondary mt-3"
          style="display: none"
        >
          Transcribe
        </button>
        <div
          class="alert alert-info mt-3"
          id="transcriptionStatus"
          role="alert"
        ></div>
        <button
          id="downloadBtn"
          class="btn btn-success mt-3"
          style="display: none"
        >
          Download Transcribed Files
        </button>
      </div>
    </div>
    <div class="toggle-switch">
      <input type="checkbox" id="darkModeToggle" />
      <label for="darkModeToggle"></label>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
