<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Transcription Service</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="toggle-switch">
      <input type="checkbox" id="darkModeToggle" />
      <label for="darkModeToggle"></label>
    </div>
    <div class="container flex-container">
      <div class="main-container">
        <h2>Upload and Transcribe Audio</h2>
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="audioFile">Select Audio File</label>
            <input
              type="file"
              class="form-control-file"
              id="audioFile"
              name="files"
              multiple
            />
          </div>
          <div id="fileName" class="mb-3"></div>
          <button type="submit" class="btn btn-primary" id="transcribeButton">
            Transcribe
          </button>
        </form>
        <div class="alert alert-info mt-3" id="statusMessage"></div>
        <a
          id="downloadLink"
          href="#"
          class="btn btn-secondary mt-3"
          style="display: none"
          >Download Transcribed Files</a
        >
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
