<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nonso's Transcriber</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="banner text-center py-3 bg-dark text-white">
      <h1>Nonso's Audio Transcriber</h1>
    </div>
    <div class="toggle-switch text-center mt-3">
      <label for="darkModeToggle" class="mr-2">Dark Mode</label>
      <input type="checkbox" id="darkModeToggle" />
    </div>
    <div class="container flex-container">
      <div class="main-container">
        <h2 class="text-center mb-4">Transcribe Audio Recording</h2>
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="audioFile">Select Audio File</label>
            <input
              type="file"
              class="form-control-file"
              id="audioFile"
              name="files"
              accept=".mp3, .m4a, .wav, .mp4"
              multiple
            />
          </div>
          <input type="hidden" id="sessionId" name="session_id" />
          <button
            type="submit"
            class="btn btn-primary"
            id="transcribeButton"
            disabled
          >
            Transcribe
          </button>
          <div class="lds-circle" style="display: none"><div></div></div>
        </form>
        <div
          class="alert alert-info mt-3"
          id="statusMessage"
          style="display: none"
        ></div>
        <a
          id="downloadLink"
          href="#"
          class="btn btn-secondary mt-3"
          style="display: none"
          >Download Transcribed Files</a
        >
        <div class="social-icons mt-4 text-center">
          <a href="https://www.linkedin.com/in/cnonsonwune/" target="_blank"
            ><img
              src="{{ url_for('static', filename='icons/linkedin-icon.png') }}"
              alt="LinkedIn"
          /></a>
          <a href="https://github.com/nonsonwune" target="_blank"
            ><img
              src="{{ url_for('static', filename='icons/github-icon.png') }}"
              alt="GitHub"
          /></a>
          <a href="https://twitter.com/nonsonwune" target="_blank"
            ><img
              src="{{ url_for('static', filename='icons/x-icon.png') }}"
              alt="Twitter"
          /></a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
